.sidebar-about h1 {
    color: #fff;
    margin-top: 0;
    font-size: 2.5rem;
    font-family: "Markazi Text";
}

.sidebar-about a {
    text-decoration: none;
}

.social a {
    text-decoration: none;
    color: rgba(255,255,255,.5);
    font-size: 1.08rem;
}

.social a:hover {
    color: #0084b4;
}

#sidebar-smallprint a {
    color: rgba(255,255,255,.5);
}
