.sidebar p,
.sidebar h1 {
    margin: 0;
    padding: 0;
}

.sidebar a.icon-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.sidebar a.icon-link:hover {
    color: rgba(255, 255, 255, 0.9);
}

.sidebar #title h1 {
    color: #fff;
    font-size: 2.5rem;
    font-family: "Markazi Text";
}

.sidebar #title a {
    text-decoration: none;
}

.sidebar #title {
    margin-bottom: -0.4em;
}

.sidebar #social {
    margin: 0.9em 0 0.9em 0;
}

.sidebar #social a:hover {
    color: #0084b4;
}

.sidebar .sidebar-nav li {
    margin-bottom: 0.15em
}
.sidebar .sidebar-nav li {
    margin-bottom: 0.15em
}



.sidepic {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.sidepic-text {
    min-width: 12rem;
    flex: 1;
}

.sidepic-pic {
    max-width: 8.8rem;
    margin-left: 1rem;
}

/* Bootstrap extra-small screens (portrait phones) */
@media (max-width: 575.98px) {
    .sidepic {
        flex-direction: column;
    }
    .sidepic-pic {
        order: -1;
        margin: auto;
    }
}




h2 {
    margin-top: 2rem;
}

.anchor {
    color: #aaa !important;
}

/* = Bootstrap breakpoint for small laptops and up */
@media (min-width: 992px) {
    .content {
        font-size: 0.9em; /* = a percentage of parent i.e. of default */
    }
}
