<!-- Count pageviews -->
<!-- This has to go in the head of the page, to verify site ownership for Google
	 Search Console. -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-121684982-1', 'auto');
if (document.cookie.includes('itme=true')) {
	ga('set', 'dimension1', 'true');
}
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

<!-- Count file downloads -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N49Z9BN');</script>


<!-- Custom css -->
<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/tomas.css">
